:root {
    --gold-color: #BFA181;
    --turquoise-color: #178582;
    --blue-color: #0A1828;
    --blur: 0px;
    --zoom: 1;
    --color-deg: 0deg;
    --color: #0A1828;
}
* {
    box-sizing: border-box;
    color: whitesmoke;
}
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--blue-color);
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 1.4rem;
    padding: 1rem;
    color: whitesmoke;
}
label span {
    padding: 0 2px;
    color: rgba(256,256,256,0.5);
}
label span:hover {
    cursor: pointer;
    color: red;
    font-weight: bold;
}

.inputs-wrapper {
    width: 55%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.inputs-top {
    flex-wrap: wrap;
}

h1 {
    /* color: var(--base); */
    color: var(--turquoise-color);
    text-align: center;
}
.hl {
    color: var(--gold-color);
}
.img-wrapper {
    margin: 2rem;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    transition: all .2s ease;
}
img {
    width: 50%;
    height: 50%;
    transform: scale(var(--zoom));
    filter: blur(var(--blur)) hue-rotate(var(--color-deg));
    transition: .3s;
}

.submit {
    color: black;
}

footer {
    position: absolute;
    bottom: 0;
    margin: 1rem;
    font-size: .625rem;
}

footer a {
    text-decoration: none;
    transition: all .5s;
}

footer a:hover {
    cursor: pointer;
    color: var(--gold-color);
    border: 2px solid transparent;
}